body{

  height: 100vh;
  width: 100vw;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
.logo{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.hug {
  display: flex;
  justify-content: center;
  align-items: center;

}
.hug img{
  border-radius: 50%;
  height:200px;
  width: 200px;
}

h1{
  font-size: 5em;
}
